﻿@using AGL.Common.Extensions;
@using AGL.Domain.Enums;
@model AGL.Web.Models.PetViewModel
@{
    ViewBag.Title = "Programming Challenge";
}
<h1>@ViewBag.Title</h1>
<p>List of all the cats in alphabetical order under a heading of the gender of their owner.</p>

@if (Model != null)
{
    <ul>
        @foreach (var gender in Model.Genders)
        {
            <li>
                @gender.Name
            </li>
            <ul>
                @foreach (var pet in Model.Pets.Where(i => i.Person.Gender.ToInt() == gender.Value).OrderBy(i => i.Name))
                {
                    <li>
                        @pet.Name
                    </li>
                }
            </ul>
        }
    </ul>
}

